body {
  background-color: indigo;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 770px;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 80px;
}

h2 {
  /* will be shown with JS */
  visibility: hidden;

  display: inline-block;
  border: 2px solid;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 30px;
}

.player-1 {
  color: #7efa03;
}

.player-2 {
  color: #f85487;
}

.drop-buttons {
  /* will be shown with JS */
  visibility: hidden;

  margin: 10px 0;
  overflow: auto;
}

.button-wrapper {
  float: left;
  text-align: center;
  width: 110px;
  box-sizing: border-box;
}

.drop-buttons button {
  background-color: transparent;
  border: 3px dotted;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
}

.turn-player-1 button {
  border-color: #7efa03;
}

.turn-player-1 button:hover {
  background-color: #7efa03;
  color: #7efa03;
}

.turn-player-2 button {
  border-color: #f85487;
}

.turn-player-2 button:hover {
  background-color: #f85487;
  color: #f85487;
}

.square {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
}

.slot {
  border: 1px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.checker-player-1 {
  border-color: #7efa03;
  background-color: #7efa03;
}

.checker-player-2 {
  border-color: #f85487;
  background-color: #f85487;
}
